header {
    width: auto;
    background-color: rgb(143, 108, 175);   
}

#header-content {
    display: flex;
    margin-left: 25%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    list-style-position: inside;
    text-align: center;
}

img {
    padding: 35px;
    height: 250px;
    width: 250px;
}

h1 {
    margin-top: 150px;
}

footer {
    background-color:rgb(143, 108, 175);
    text-align: center;
}