@media screen and (min-width: 32.5em) {
    h1 {
        margin-top: 150px;
    }
    #header-content {
        display: flex;
        margin-left: 25%;
    }

    h1 {
        margin-top: 150px;
    }
    
    img {
        padding: 35px;
        height: 250px;
        width: 250px;
    }
  }