header {
    width: auto;
    background-color: rgb(143, 108, 175); 
    text-align: center;  
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    list-style-position: inside;
    text-align: left;
}

img {
    padding: 10px;
    height: 250px;
    width: 250px;
}

footer {
    background-color:rgb(143, 108, 175);
    text-align: center;
}

#header-content {
    margin-left: 2%;
}