@media only screen and (min-width: 64rem) {

    #name-space {
        grid-column: 1;
        grid-row: 1/2;
    }
    #social-link {
        grid-column: 4;
        grid-row: 1;
    }

    #hamBtn {
        display: none;
    }

    #mainNav {
        display: flex;
        font-family:"Roboto Condensed";
        text-decoration: none;
    }

    #mainNav a {
        font-family: "Rubic Dirt", sans-serif;
        padding: 25px;
        margin: 0;
        text-decoration: none;
    }

    nav {
        padding-top: 40px;
        grid-row: 1;
        grid-column: 2/4;
    }


    #contain {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-gap: 10px;
    }


    #hero {
        grid-column: 2;
        grid-row: 1/3;
        padding: 0;
        margin: 0;
    }
    
    #event {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }
    
    #weather {
        grid-column: 1;
        grid-row: 2;
        padding: 0;
        margin: 0;
    }
    
    #new-release {
        grid-column: 2;
        grid-row: 3;
        padding: 0;
        margin: 0;
    }
    
    #spot-lights { 
        display: block;
        grid-column: 3;
        grid-row: 1/4;
        padding: 15px;
        margin: 0;
    }
    #join {
        grid-column: 1;
        grid-row: 3;
        padding: 0;
        margin: 0;
    }

    section div {
        margin: 10px;
    }

    div.spot-3{
        display: inherit;
    }

    footer.div-info {
        display: none;
    }
   
    div.big-contain {
        display: flex;
    }
}