@media screen and (min-width: 40rem) {

    #contain {
        display: grid;
        grid-template-rows: 1fr;
        grid-column: 1fr 1fr; 
    }

    #hero {
        grid-column: 1/3;
    }
    
    #event {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    
    #weather {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    #new-release {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    
    #spot-lights { 
        grid-column: 1/3;
        grid-row: 3/4;
        display: flex;
        justify-content: center;
        
    }
    #join {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    div.spot-3 {
        display: none;
    }

    footer.dev-info {
        display: none;
    }
    
    footer {
        justify-items: center;
    }
    div.dev-info {
        display: none;
    }
     div.big-contain {
        display: block;
        text-align: center;
     }
     
     div.big-info {
        display: block;
     }
    
    #top-portion {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #info {
        display: flex;
        padding: 20px;
    }
    
    #location {
        padding: 20px;
    }
    #bottem-portion {
        display: grid;
        grid-template-rows: 1fr;
    }

}